# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.venv*/
.pex/

# Pants
.pants.d/
.pytest_cache/
/pants
dist/


# VS Code
.vscode/
.env

# macOS
.DS_Store

# Local copies of collected pdfs.
# See data/.gitignore for details
sets.txt

profile.out