[tool.ruff]
target-version = "py314"
#line-length = 80

[tool.ruff.lint]
extend-select = [
  "PLC0415", # import-outside-toplevel (Pylint)
  # pycodestyle
  "E",
  # Pyflakes
  "F",
  # pyupgrade
  # "UP", , # TODO Fix this seems to break some self-referential type hints
  # flake8-bugbear
  "B",
  # flake8-simplify
  "SIM",
  # isort
  "I",
]

[tool.pytest.ini_options]
log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)8s] %(message)s (%(filename)s:%(lineno)s)"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"
